<form class="login-form" action="#" onsubmit={{submit}}>
	<div class="login-form__header">{{title}}</div>
	{{{inputLogin}}}
	{{{inputPassword}}}
	<div class="login-form__items">
		<div class="login-form__item">
			{{{buttonLogin}}}
		</div>
		<div class="login-form__item">
			{{{buttonSingUp}}}
		</div>
	</div>
</form>
