{{{sidebar}}}
<div class="pageProfile__items">
	<div class="pageProfile__avatar">
		<div class="user-avatar">
			{{{userAvatar}}}
			{{{avatarOverlay}}}
		</div>
		<div class="pageProfile__firstName">{{UserName}}</div>
	</div>
	<form class="profile-form" action="">
		<div class="pageProfile__body">
			{{#each profileFields}}
			<div class="profile-field">
				<div class="profile-field__lable">{{nameField}}</div>
				<div class="profile-field__data">{{data}}</div>
			</div>
			{{/each}}
		</div>
		<div class="pageProfile__footer">
			{{#each options}}
			<div class="profile-options__edit">
				<a href={{href}} class="profile-options__lable">{{lable}}</a>
			</div>
			{{/each}}
			<a onclick="goToPage('profileEdit')" href="#" class="profile-options__exit">Выйти</a>
		</div>
	</form>
</div>
